.input-field-information,
.biography-field {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.submit-button,
.follow-button {
  border: none;
  background: #404040;
  color: #ffffff;
  font-weight: 100;
  padding: 5px;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  width: 102px;
}

.submit-button:hover,
.follow-button:hover {
  color: #404040;
  background: white;
  transition: all 0.3s ease 0s;
}

.button-delete {
  width: 102px;
}

.edit-button {
  margin-right: 20px;
  width: 102px;
}

.update-post,
.cancel-button {
  margin-top: 10px;
}

.button-liked {
  background: none;
  border: none;
}

.button-likes {
  background: none;
  border: none;
}

.button-liked i {
  color: red;
}

.delete-button-settings,
.delete-button-settings-real {
  width: 113px;
  margin-top: 10px;
}

.cancel-button-settings {
  margin-top: 10px;
}
