.input-field-information,
.biography-field {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.submit-button {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 5px;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
}

.submit-button:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: white;
  -webkit-box-shadow-: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow-: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

.button-delete {
  width: 102px;
}

.edit-button {
  margin-right: 20px;
}

.update-post,
.cancel-button {
  margin-top: 10px;
}

.button-liked {
  background: none;
  border: none;
}

.button-likes {
  background: none;
  border: none;
}
