/* MediaQuery */

@media all and (min-width: 768px) {
  section {
    width: 50vw;
  }
  body {
    margin: auto;
    width: 50vw;
  }
  .footer {
    width: 100%;
  }
  nav {
    width: 100%;
  }
  .feed-posts {
    width: 50vw;
  }
  .profile-wrapper {
    width: 50vw;
  }

  .input-field-information {
    width: 400px;
  }

  .profile-image-src {
    width: 150px;
    height: 150px;
  }
  .profile-image-src-small {
    width: 70px;
    height: 70px;
  }

  .info-top-image p {
    margin-top: 35px;
  }

  .navbar-brand {
    font-size: 40px;
  }

  .submit-button {
    width: 200px;
  }

  .logotype h1 {
    font-size: 55px;
  }
  .submit-button {
    margin-bottom: 10px;
  }

  textarea {
    width: 400px;
  }

  .profile-post-src {
    width: 100%;
  }
}
