.largePosts {
  width: 100%;
}

.user-feed {
  width: 100%;
  margin: 50px 0;
}

.feed-posts {
  width: 100vw;
}

.content-bottom {
  margin-top: 5px;
}

.date-bottom {
  margin-top: 5px;
}

.username-top,
.username-bottom {
  font-weight: 700;
}
