.profile-page {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
}

.profile-image-src {
  margin: 0 10px;
  border-radius: 50%;
  display: flex;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.profile-image-src-small {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
}

.info-top-image {
  background-color: black;
  display: flex;
}

.info-top-image p {
  margin-top: 27px;
}

.info-bottom-image {
  margin: 10px 30px 10px 10px;
}

.likes-position {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.username {
  font-weight: 700;
}

.biography-profile-page {
  width: 80%;
}

.profile-post-src {
  width: 100%;
  object-fit: cover;
}

.profile-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 15px;
}

.profile-info {
  margin: 10px;
  width: 100%;
}

.profile-info p {
  margin: 10px;
}

.profile-post {
  margin-bottom: 5px;
  width: 100%;
}

.update-post-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 20px 5px;
}

.edit-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
